{% extends 'SeguroBundle:Default:principal.html.twig' %} {% block stylesheet %} {{ parent() }}
<!-- datepicker style -->
<link href="{{ asset ('css/plugins/bootstrap-datepicker/datepicker3.css')}}" rel="stylesheet">
<link href="{{ asset ('css/plugins/validate/bootstrapValidator.min.css')}}" rel="stylesheet">
<link href="{{ asset ('css/plugins/bootstrap-timepicker/bootstrap-timepicker.min.css')}}" rel="stylesheet"> {% endblock %} {% block contentPage %}
<div class="page-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <h1>Generar Reporte</h1>
                <ol class="breadcrumb">
                    <li><i class="fa fa-th"></i><a href=""> Reporte</a>
                    </li>
                    <li class="active">Dedudas</li>
                </ol>
            </div>
        </div>
    </div>
    {{ include('SeguroBundle:mensaje:mensaje.html.twig') }}
    <div class="row">
        <div class="col-md-12"><h5 class="text-primary">LISTA DE MULTAS ADEUDADAS</h5></div>
        <div class="table-responsive">
            <table id="example-table" class="table table-striped table-bordered table-hover table-green">
                <thead>
                    <tr>
                        <th class="text-center">Fecha Reunión</th>
                        <th class="text-center">Tema</th>
                        <th class="text-center">Valor Multa</th>
                    </tr>
                </thead>
                <tbody>
                    {% if multas is defined %} {% for multa in multas %}
                    {% if multa.fechareunion is defined %}
                    <tr class="gradeC">
                        <td class="text-center">{{ multa.fechareunion|date('Y-m-d') }}</td>
                        <td>{{ multa.temas }}</td>
                        <td class="text-center">{{ multa.valormulta }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %} 
                    {% if multas.message is defined %}
                        <div class="col-md-12 text-red">{{ multas.message }}</div>
                    {% endif %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-12"><h1 class="text-default"><hr></h1></div>
    <div class="row">
        <div class="col-md-12"><h5 class="text-primary">LISTA DE REUNIONES ADEUDADAS</h5></div>
        <div class="table-responsive">
            <table id="example-table" class="table table-striped table-bordered table-hover table-green">
                <thead>
                    <tr>
                        <th class="text-center">Fecha Reunión</th>
                        <th class="text-center">Tema</th>
                        <th class="text-center">Valor Reunión</th>
                    </tr>
                </thead>
                <tbody>
                    {% if reuniones is defined %} {% for reunion in reuniones %}
                    {% if reunion.fechareunion is defined %}
                    <tr class="gradeC">
                        <td class="text-center">{{ reunion.fechareunion|date('Y-m-d') }}</td>
                        <td>{{ reunion.temas }}</td>
                        <td class="text-center">{{ reunion.valorreunion }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %} 
                    {% if reuniones.message is defined %}
                        <div class="col-md-12 text-red">{{ reuniones.message }}</div>
                    {% endif %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-12"><h1><hr></h1></div>
    <div class="row">
        <div class="col-md-12"><h5 class="text-primary">LISTA DE MESES ADEUDADOS</h5></div>
        <div class="col-md-2 text-success"><h5>POR FECHA:</h5></div>
        <form action="{{path('reporte_deudasSocio')}}" method="post">
            <div class="col-md-3">
                <select name="year" class="form-control" onchange="MesesAPagar()">
                  {% if year is defined %}
                  {% for years in year %}
                  {% if years.year is defined %}
                  <option value="{{years.year}}" selected>{{years.year}}</option>
                  {% endif %}
                  {% endfor %}
                  {% endif %}
                </select>
            </div>
            <div class="col-md-7">
                <button class="btn btn-success btn-md" >
                    <span class="fa fa-refresh"></span> Generar
                </button> 
            </div>
        </form>    
        <div class="table-responsive">
            <table id="example-table" class="table table-striped table-bordered table-hover table-green">
                <thead>
                    <tr>
                        <th class="text-center">Año</th>
                        <th class="text-center">Mes</th>
                        <th class="text-center">Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {% if meses is defined %} {% for mess in meses %}
                    {% if mess.fecha is defined %}
                    <tr class="gradeC">
                        <td class="text-center">{{ mess.fecha | date('Y') }}</td>
                        <td class="text-center">{{ mess.mes }}</td>
                        <td class="text-center">{{ mess.valor }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                     {% if meses.message is defined %}
                        <div class="col-md-12 text-red">No adeuda mes para el año seleccionado</div>
                    {% endif %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %} {% block javascripts %} {{ parent() }}
<!-- GLOBAL SCRIPTS -->
<!-- jQuery UI added before Bootstrap on this page for no interference -->
<script src="{{ asset('http://code.jquery.com/ui/1.10.3/jquery-ui.js')}}"></script>
<!-- PAGE LEVEL PLUGIN SCRIPTS -->
<script src="{{ asset('js/plugins/bootstrap-tokenfield/bootstrap-tokenfield.min.js')}}"></script>
<script src="{{ asset('js/plugins/bootstrap-tokenfield/typeahead.min.js')}}"></script>
<script src="{{ asset('js/plugins/bootstrap-timepicker/bootstrap-timepicker.min.js')}}"></script>
<script src="{{ asset('js/plugins/bootstrap-datepicker/bootstrap-datepicker.js')}}"></script>
<!-- THEME SCRIPTS -->
<script src="{{ asset('js/plugins/validate/bootstrapValidator.min.js')}}"></script>
<script src="{{ asset('js/plugins/validate/validator.js')}}"></script>
<script src="{{ asset('js/plugins/validate/jquery.validate.min.js')}}"></script>
{% endblock %}
